@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

main p {
    font-size: 15px;
    font-family: "Popins";
    font-weight: lighter;
}

main h3 {
    font-size: 25px;
}

main h4 {
    font-size: 20px;

}

main img {
    height: 200px;
    background-color: white;
}

main p {
    font-size: 25px;
    font-style: italic;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #f90d6d;
}

h2 {
    font-size: 25px;
    text-align: center;
    color: #f90d6d;
}

.vd {

    margin-left: 35%;
}

.row {
    margin-top: 1.5%;
}

.col-sm-6 {
    margin-top: -1.25%;
}

.btn-left {
    float: left;
    width: 50%;
    height: 190px;
    text-align: justify;
    margin-right: 30px;
    margin-left: 30px;
    
}

.right {
    float: left;
    width: 20%;
    height: auto;
    text-align: justify;
    margin-left: 12%;
}
